.drivers-page {
    max-width: 1000px;
    width: 100%; /* Обеспечивает, чтобы страница могла адаптироваться */
    padding: 2rem;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white; /* Добавьте фон, чтобы контент был видим */
    border-radius: 8px; /* Закругление углов для красоты */
    margin-top: 32px;
}

.filter-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addbut-container {
    margin-bottom: 20px;
}

.add-driver-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.add-driver-button:hover {
    background-color: #45a049;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button.delete {
    background-color: #f44336;
    color: white;
}

.button.delete:hover {
    background-color: #da190b;
}

.button.assignments {
    background-color: #2196F3;
    color: white;
}

.button.assignments:hover {
    background-color: #0b7dda;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-dr{
    background-color: white;
    padding: 20px;
    border-radius: 8px;     
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;        
    max-height: 90vh;      
}


.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-buttons .button {
    flex: 1;
    margin: 0 5px;
}
